@import "react-slideshow-image/dist/styles.css";

.c-featured {
  height: 750px;
  width: 100%;
  background: var(--clr-primary-green);
}

.c-featured__heading {
  color: #fffef4;
  font-size: clamp(3rem, 7vw, 4rem);
  line-height: 0.85em;
  letter-spacing: 1px;
  margin-left: clamp(2rem, 9vw, 8rem);
  padding-top: 3rem;
}

.c-featured__text {
  color: #fffef4;
  margin: 1rem;
  font-size: clamp(1.15rem, 3vw, 1.55rem);
  margin-left: clamp(2rem, 9vw, 8rem);
  width: 70%;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .c-featured__heading,
  .c-featured__text {
    margin-left: 0;
    text-align: center;
  }
  .c-featured__text {
    width: 90%;
    margin: 1rem;
  }
}

.c-featured__heading--highlight {
  color: var(--clr-secondary-yellow);
}

.slide {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.slide::after {
  content: "";
  position: absolute;
  top: 200px;
  left: 0;
  height: 400px;
  background: var(--clr-light);
  width: 100%;
  z-index: -1;
}

.card {
  width: 350px;
  display: flex;
  z-index: 5;
  box-shadow: var(--shadow-medium);
}

.slide-image {
  width: 100%;
  height: 230px;
  background-size: cover;
  position: relative;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.slide-description {
  position: absolute;
  top: 100%;
  background: var(--clr-light);
  box-shadow: var(--shadow-medium);
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.slide-description h3 {
  color: var(--clr-text-green);
  height: 40px;
  font-size: 18px;
  margin-top: 10px;
  line-height: 20px;
  letter-spacing: 1px;
}
.slide-description p {
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0 15px;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-secondary-light);
  font-size: 14px;
  color: var(--clr-dark);
  line-height: 1.2em;
}

.slide-description .btn {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.custom-prev-arrow,
.custom-next-arrow {
  margin-top: -15rem;
  background: var(--clr-secondary-yellow);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  z-index: 3 !important;
}

.custom-prev-arrow > *,
.custom-next-arrow > * {
  font-size: 1.8rem;
  fill: var(--clr-primary-green);
}

.custom-prev-arrow {
  margin-left: 1rem;
  padding-right: 5px;
}
.custom-next-arrow {
  margin-right: 1rem;
  padding-left: 5px;
}
